.section {
  cursor: pointer;
  padding: 8px 12px;
  margin: 10px 5px;
  box-sizing: border-box;
  line-height: 1;
  color: var(--downloads-text-color);
  text-align: center;
  background: var(--downloads-background);
  border-radius: 5px;
  border: 1px solid var(--downloads-border-color);
}



.disabled {
  cursor: none;
}
