COMPOSE_PROJECT_NAME=stub-project
REGISTRY=${REGISTRY}
IMAGE_TAG=${IMAGE_TAG}
API_SITE_URL=${API_SITE_URL}
API_SITE_NAME=${API_SITE_NAME}
API_DB_PASSWORD=${API_DB_PASSWORD}
API_MAILER_HOST=${API_MAILER_HOST}
API_MAILER_PORT=${API_MAILER_PORT}
API_MAILER_USER=${API_MAILER_USER}
API_MAILER_PASSWORD=${API_MAILER_PASSWORD}
API_MAILER_FROM_EMAIL=${API_MAILER_FROM_EMAIL}
API_MAILER_FROM_NAME=${API_MAILER_FROM_NAME}
MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
AUTH_LOGIN=${AUTH_LOGIN}
AUTH_PASSWORD=${AUTH_PASSWORD}
