.h1 {
  font-size: 28px;
  line-height: 1.1;
  color: var(--heading-color);
  margin: 0 0 20px;
}

.h2 {
  font-size: 21px;
  line-height: 1.1;
  color: var(--heading-secondary-color);
  margin: 0 0 20px;
}

.h3 {
  color: #494949;
  line-height: 1.1;
  margin: 0 0 20px;
  font-size: 16px;
}

.h4 {
  color: #494949;
  line-height: 1.1;
  margin: 0 0 20px;
  font-size: 14px;
}

.h5 {

}
