.h1, .h2, .h3, .h4, .h5 {
  margin: 20px 0 20px;
  line-height: 1.1;
}
.h1 {
  font-size: 28px;
  color: var(--heading-color);
}

.h2 {
  font-size: 24px;
  color: var(--heading-secondary-color);
}

.h3 {
  color: var(--heading-tertiary-color);
  font-size: 18px;
}

.h4 {
  color: var(--heading-tertiary-color);
  font-size: 16px;
}

.h5 {

}
