.productInfo {
  font-family: var(--font-roboto-mono);
  box-sizing: border-box;
  padding: 20px;
  line-height: 1;
  margin: 15px 0;
  --b: 7px;
  --l: 35px;
  --c: var(--heading-color);
  border: var(--b) solid var(--background-color);
  background:
    linear-gradient(to bottom, var(--c) var(--b), transparent 0) 0 0,
    linear-gradient(to right,  var(--c) var(--b), transparent 0) 0 0,
    linear-gradient(to bottom, var(--c) var(--b), transparent 0) 100% 0,
    linear-gradient(to left,   var(--c) var(--b), transparent 0) 100% 0,
    linear-gradient(to top,    var(--c) var(--b), transparent 0) 0 100%,
    linear-gradient(to right,  var(--c) var(--b), transparent 0) 0 100%,
    linear-gradient(to top,    var(--c) var(--b), transparent 0) 100% 100%,
    linear-gradient(to left,   var(--c) var(--b), transparent 0) 100% 100%;

  background-repeat: no-repeat;
  background-size: var(--l) var(--l);
  text-align: center;
}


