.dl {
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: 8px 16px;
  font-size: 14px;
  display: grid;
  margin: 0;
  padding: 0;
}

.dt, .dd {
  margin: 0;
}
.dt {
  grid-column: 1;
  font-weight: 500;
  text-align: right;
  white-space: nowrap; /* Заголовки не переносим */
  padding: 4px 0;
}
.dt:after {
  content: ':'
}
.dd {
  grid-column: 2;
  text-align: left;
  margin: 0;
  padding: 4px 0;
  line-height: 1.4;
  word-break: break-word;
}
