.dl {
  display: grid;
  align-items: start;

  margin: 0;
  padding: 0;

  font-size: 14px;
  grid-template-columns: auto 1fr;
  gap: 8px 16px;
}

.dt, .dd {
  margin: 0;
}

.dt {
  padding: 4px 0;

  text-align: right;
  white-space: nowrap; /* Заголовки не переносим */

  font-weight: 500;
  grid-column: 1;
}

.dt::after {
  content: ':'
}

.dd {
  margin: 0;
  padding: 4px 0;

  text-align: left;
  word-break: break-all;

  line-height: 1.4;
  grid-column: 2;
}
