.wrapper {
  display: grid;
  grid-template-areas:
    ". header header ."
    ". sidebar body ."
    ". footer . .";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 270px 600px auto;

  min-height: 100vh;
  gap: 50px 40px;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

@media(width <= 765px){
  .wrapper{
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
    "sidebar"
    "body"
    "footer";
    padding: 10px;
  }
  .header {
    display: none;
  }

  .sidebar {
    display: block;
  }
}
