.tag {
  cursor: pointer;
  padding: 8px 12px;
  box-sizing: border-box;
  line-height: 1;
  color: var(--downloads-text-color);
  text-align: center;
  background: var(--downloads-background);
  border-radius: 5px;
  border: 1px solid var(--downloads-border-color);
}

.tag:hover {
  background: var(--downloads-active-background);
  color: var(--downloads-hover-color);
}

