.p {
  margin: 0 0 20px;
}

.es {
  font-size: 10px;
}

.s {
  font-size: 14px;
}

.m {
  font-size: 16px;
}

.bold {
  color: var(--heading-color);

  font-weight: 700;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}
